.navbar{
    width: 100%;
}
.ulMenu{
    margin-left: 2px;
    padding-left: 2px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.listNav{
    display: flex;
    position: 0;
    flex-direction: column;
    list-style: none;
    font-size: 12px;
    font-family: Arial;
    width: 100%;
}
.hrMenu{
    margin-left: 0px;
    background-color: rgb(142, 139, 203);
    padding-left: 0px;
    height: 5px;
    width: auto;
}
.cabecalho{
    color: blue;
}